# Shamelessly stolen from https://github.com/paulirish/dotfiles
# Make Emacs the default editor
export EDITOR="emacs"

# Don't clear the screen after quitting a manual page
export MANPAGER="less -X"

# Larger bash history (allow 32^3 entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups

# timestamps for back history. www.debian-administration.org/users/rossen/weblog/1
# saved for later analysis
HISTTIMEFORMAT='%F %T '
export HISTTIMEFORMAT

# Make some commands not show in history
#export HISTIGNORE="ls:ls *:cd:cd -:pwd;exit:date:* --help"

# Add GOO_ROOT so GOO can find its files
export GOO_ROOT=/home/duncan/workspace/ool

# Add JDK 8 to the path

export JAVA_HOME=/home/duncan/Installed/jdk1.8.0_45
export PATH=$JAVA_HOME/bin:$PATH
